@{
    ViewBag.Title = "Daily Sales Summary";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<div class="card-body p-0" style="padding: 20px !important;">
    <div class="row">
        <table class="table table-responsive" border="1">
            <tr>
                <th></th>
                <th colspan="3">Duty Meals</th>
                <th colspan="4">Casual Meals</th>
                <th colspan="3">Extra Messing</th>
                <th rowspan="2">Gas Charges</th>
                <th rowspan="2">Commdities</th>
                <th rowspan="2">Total Income Amount (Rs.)</th>
                <th rowspan="2">Total Expenditure F.140 Amount (Rs.)</th>
                <th rowspan="2">Under or Over Amount (Rs.)</th>
            </tr>
            <tr>
                <td>Description</td>
                <td>No of Meal</td>
                <td>Receivable Amount (Rs.)</td>
                <td>Expenditure F.140 Amount (Rs.)</td>
                <td>No of Meal</td>
                <td>Credit Amount (Rs.)</td>
                <td>Cash Amount (Rs.)</td>
                <td>Expenditure F.140 Amount (Rs.)</td>
                <td>Credit Amount (Rs.)</td>
                <td>Cash Amount (Rs.)</td>
                <td>Expenditure F.140 Amount (Rs.)</td>
            </tr>
            <tr>
                <td>Breakfast</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Lunch</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dinner</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Extra Messing</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="font-weight:bold">
                <td>TOTAL</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
