body{
	margin:0;
	color:#464646;
	font:Helvetica, Arial, sans-serif;
	background:#fff;
    background-color:white;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: none;
}C:\ASC-PT-AU\Project\AlfasiWeb\Controllers\ExternalHomeController.cs

::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(left, #547c90, #002640);
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(256, 255, 255, 0.4);
}

.back_link {
    width: 300px;
    background-color: red;
}






/* login username  */
#user_name {
color:red;
margin:0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: rgb(85, 85, 85);
    background-color:white ;
}

.icon-user
{

background-position: -168px 0px;
margin-top:-1px;

}








.navbar .btn-navbar {

  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
    color: #ffffff;
  background-color: #FFFFFF;
  *background-color: #FFFFFF;
  
  background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
  background-repeat: repeat-x;
  border-color: red;
  border-color: rgba(236, 8, 15, 0.5) rgba(236, 8, 15, 0.5) rgba(236, 8, 15, 0.5);
  -webkit-box-shadow: inset 0 0px 0 rgba(228, 16, 23, 0.1), 0 1px 0 rgba(228, 16, 23, 0.075);
     -moz-box-shadow: inset 0 0px 0 rgba(228, 16, 23, 0.1), 0 1px 0 rgba(228, 16, 23, 0.075);
          box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(228, 16, 23, 0.07);
		  
}


.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #FFFFFF;
  
}


  /* Custom container */
      .container-narrow {
		margin-top:30px;
		margin-left:auto;
		margin-right:auto;
          height: auto;
    
      }

a:hover{text-decoration:underline;}	  
	  
	  
#header	  
{
    padding: 76px 0px 0px;
        padding-top: 46px;
        padding-bottom: 0px;
       
    margin: 0px 0px 18px;
        margin-top: 0px;
        
        margin-bottom: 18px;
 
    height: 1%;

}



 
.nav-collapse
{
margin-top:50px;
margin-bottom:10px;
text-align:center;

}

.nav li.create_link a{
	color: #0088cc;	
}


 .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: white;
  }






.navbar{
  margin-top:-50px;
  width:auto;
    height:auto;
  background-color: white;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: none;
  border: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: none;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
}










.divider-vertical {

    background: url("../images/separator.gif") repeat-x scroll 0% 0% transparent;
        background-color: transparent;
        background-image: url("../images/separator.gif");
        background-repeat: repeat-y;
        background-attachment: scroll;
        background-position: 0% 0%;
    padding: 2px 1px;
        padding-top: 9px;
 
        padding-bottom: 9px;
  
}

.navbar .divider-vertical {

    height: 14px;
    margin: 5px 5px;
        margin-top: 5px;
       
    border-right: 1px solid rgb(255, 255, 255);
       
    border-left: 1px solid rgb(242, 242, 242);
       
}





.navbar .nav.pull-right {
    padding-top: 9px;
     font: 11px/16px Helvetica,Arial,sans-serif;
        font-family: Helvetica,Arial,sans-serif;
        font-style: normal;
    font-variant: normal;
        -x-system-font: none;
        -moz-font-feature-settings: normal;
        -moz-font-language-override: normal;

font-size: 12px;
line-height: 14px;
    font-weight: bold;
    width: auto;
    
}




.body_bkk
{
	width:auto;
	height:auto;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-top:-15px;



}




.content {

    width:auto;
    margin-right:auto;
    margin-left:auto;   
    
    
    
}


.box1
{
height:540px;
width:auto;
background-color:green;
margin-top:10px;
margin-bottom:10px;
padding-left:60px;
padding-right:60px;

}



.box2
{
height:540px;
width:auto;
background-color:orange;
margin-bottom:10px;
margin-top:10px;
padding-left:60px;
}




.dropdown-menu {




    padding-top: 5px;
        margin-top: 2px;
       
    list-style: none outside none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
        border-top-width: 1px;
        border-right-width-value: 1px;
        
        border-bottom-width: 1px;
        border-left-width-value: 1px;
      
        border-top-style: solid;
        border-right-style-value: solid;
     
        border-bottom-style: solid;
        border-left-style-value: solid;
        
        border-top-color: rgba(0, 0, 0, 0.2);
        border-right-color-value: rgba(0, 0, 0, 0.2);
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        border-left-color-value: rgba(0, 0, 0, 0.2);
        border-left-color-ltr-source: physical;
        border-left-color-rtl-source: physical;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        
    border-radius: 0px 0px 0px 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
        -moz-text-blink: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
    background-color: rgb(226, 23, 23);
    background-image: linear-gradient(to bottom, rgb(226, 23, 23), rgb(226, 23, 23));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E21702', endColorstr='#E21702', GradientType=0);
}


#sub_menu
{
   border-top:1px dashed #b1b1b1;
   border-bottom:1px dashed #b1b1b1;	
   
   
		
}


/* carousel */

.carousel {
  
}

.carousel{
	position: relative;
	line-height: 1;
	width:1100px;
	overflow:hidden;
	position:relative;
	margin:0 0 0px -27px;
	padding:0 0 0 18px;

	
}
.carousel .frame{
	width:985px;
	overflow:hidden;
	position:relative;
	background:#fff;
	z-index:1;
}
.carousel ul{
	padding:0;
	margin:0;
	list-style:none;
	position:relative;
	width:99999px;
	overflow:hidden;
}

.product-list-holder .carousel ul li{height:200px;background:none;}

.carousel ul li{
	float:left;
	text-transform:uppercase;
	width:121px;
	height:214px;
	text-align:center;
	margin:0 13px 0 0;
}
.carousel ul a{
}

.carousel ul img{
	vertical-align:top;
}
.carousel ul .description{
	display:table;
	height:40px;
	font-size:9px;
	line-height:10px;
	font-weight:bold;
	width:100%;
}
.holder {
    background-image: url(../images/home_icons/tag.png);
    background-repeat: no-repeat;
    background-position: top right;
    
    
}
.carousel ul .holder{
	
	
}
.carousel ul .description a{
	color:#939393;
	display:block;
	width:83px;
	height:100%;
	margin:0 auto;
}
.carousel ul li:hover .description,
.carousel ul li.active .description{
	background:#ee3a43;
}
.carousel ul li:hover .description a,
.carousel ul li.active .description a{
	color:#fff;
	text-decoration:none;
}
*+html .carousel ul .description{
	margin:0;
}
.link-next,
.link-prev{
	position:absolute;
	top:95px;
	background:url(../images/arrow.png) no-repeat;
	width:13px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
	z-index:2;
}
.link-next{
	right:4px;
}
.link-prev{
	background-position:0 -31px;
	left:4px;
}
.disabled{
	display:none;
}





.carousel-control {
  position: absolute;
  top: 45%;
  left: 70px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 70px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  float:left;
}

.carousel-control.right {
    right: 70px;
    left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

/*new*/

img{border-style:none;}
a:hover{text-decoration:underline; color:#0000FF;}
a.selected{ text-decoration:none;color:#ff0000;}
input,
textarea,
select{
	font:100% Lucida Grande, Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#9d9d9d;
}
form,fieldset{
	margin-left:0px;
	margin-top:0px;
	padding:0px;
	border-style:none;
}
q{quotes:none;}
q:before{content:''}
q:after{content:''}

#divBack {
    /*margin-left: 10px;
    width: 100px;
    height: 20px;
    background-color: #A7A7A7;
    text-align: center;
    line-height: 20px;
    background-image: url(../images/home_icons/left_arrow.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 20px;*/
}
.top_navigation{
    display: block;
    padding: 10px;
}
.top_navigation a{
   background-image: url(../images/home_icons/bg-crumbs.png);  
    background-repeat: no-repeat;  
    background-position: 100% 0;  
    position: relative;  
}
#divBack a{

  
    
   
    text-align: center;
    line-height: 20px;
    color: #FAF7F7;
    
}
#divBack a:hover{

   
    
    text-align: center;
    line-height: 20px;
    color: #fff;
    
}


#wrapper
{   
    margin-left:auto;
    margin-right:auto;
	width:auto;
    height:580px;
    position: relative;
    white-space: nowrap;
    
   
}   
    



.hidden{
	position:absolute;
	left:-99999px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.hidden:focus{
	position:static;
	width:auto;
	height:auto;
}
/* header */
#header{
	padding:30px 0px 0 0;
	margin:0 0 18px;
	height:1%;
}
#header:after{
	content:'';
	display:block;
	clear:both;
}






.group
{
	background:url(../images/logo-group.gif) no-repeat scroll 0 
	0 transparent;
	width:501px;
	height:55px;
    float:left;
 
    
	

}





/*# Navigation #*/
#nav{
	float:right;
	font-size:12px;
	line-height:14px;
	font-weight:bold;
	padding:15px 0 0;
}
.mac .hire #nav ul li{
	padding:9px 8px;
}
#nav ul{
	background:url(../images/separator.gif) 100% 0 repeat-y;
	padding:0;
	margin:0;
	list-style:none;
	width:100%;
}
#nav ul:after{
	content:'';
	display:block;
	clear:both;
}
#nav ul li{
	float:left;
	background:url(../images/separator.gif) repeat-y;
	padding:9px 19px;
}
#nav ul a{
	color:#939598;
}
/* hire header */
.hire #header{
	padding:82px 18px 0 0;
	margin:0 0 23px;
}

.contstructions .logo{
	font-size:43px;
	line-height:51px;
}
.hire #nav{
	padding:2px 0 0;
}
.hire #nav ul li{
	padding:9px 11px;
}
/* constructions header */
.contstructions #header{
	padding:78px 20px 0 0;
	margin:0 0 25px;
}

.contstructions #nav{
	padding:6px 0 0;
}
.contstructions #nav ul li{
	padding:9px 15px;
}
/* main */
#main{
	height:540px;
	margin:0 0 0px;
}

#main-fix{
	height:720px;
	margin:0 0 30px;
}



.main-product-wrapper
{
	background:none!important;	
}
#main:after{
	content:'';
	display:block;
	clear:both;
}
.hire #main{
	margin:0 0 32px;
}
/* home */
ul.home.accordion 
{

height:540px ;
width:auto;
margin-left:auto;
margin-right:auto;
    
}

.home{
	padding:0;
	list-style:none;
	margin:0 0 0 -20px;
	width:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.accordion{height:540px;}

.accordion li .holder.text {height:540px;}



.accordion li .holder:hover  .text{height:540px;}




.accordion li .holder a{height:540px;display:block;}
.home li{
	float:left;
	margin:0 2px 0 0;
	position:relative;
}
.home li a{
	display:block;
	width:271px;
	overflow:hidden;
	position:relative;
	font-size:17px;
	line-height:20px;
	color:#939598;
	font-weight:bold;
	text-align:center;
	cursor:pointer;

}
.home li a img{
	vertical-align:top;
	margin:0 -45px 0 -30px;
}
.accordion li a{margin:0 -45px 0 -30px;}
.accordion li a img{margin:0;}
.home li a:hover
{
	text-decoration:none!important;
	
}
.home li a span{
	position:absolute;
	left:0;
	top:10px;
	width:100%;
	display:none;
	white-space:pre-line;
    word-wrap: break-word;
    width:250px;
    padding-left: 10px;
    padding-right:10px ;
   
	
}

.home li a span em{
	font-style:normal;
	color:#ee3a43;
}
.hire .home{
	margin:0;
}
.hire .home li{
	margin:0 4px 0 0;
	width:237px;
	height:543px;
	overflow:hidden;
	position:relative;
}
.hire .home li a{
	width:237px;
	height:543px;
	overflow:hidden;
	position:relative;
} 
.hire .home li a img{
	margin:0;
}

/* details */
.details{
	padding: 32px 2px 32px 53px;
	height:476px;
}
.details:after{
	content:'';
	display:block;
	clear:both;
}
.details .img-holder{
	float:left;
	margin:0 72px 0 0;
	padding:0;
}
.details .description{
	height:478px;
	overflow:hidden;
}
.details .btn-holder{
	/*margin:0 0 13px;*/
	padding-bottom:13px;
	width:100%;
}
.details .btn-holder:after{
	content:'';
	display:block;
	clear:both;
}
.details .btn-arrow,
.details .btn-close{
	float:left;
	clear:left;
	background:url(../images/btn-arrow.gif) repeat-x;
	color:#fff;
	font-weight:bold;
	margin:0 0 8px;
	cursor:pointer;
}
.details .btn-holder .btn-arrow,
.details .btn-holder .btn-close{
	clear:none;
	margin:0;
}
.details .btn-arrow span,
.details .btn-close span{
	float:left;
	padding:3px 26px 3px 6px;
	background:url(../images/btn-arrow.gif) 100% -26px no-repeat;
}
.details .btn-arrow:hover span,
.details .btn-close:hover span{
	text-decoration:underline;
}

.hire #hire-button-enquire,
.hire #hire-button-detail

	


.details .btn-close{
	background:url(../images/btn-close.gif) repeat-x;
}
.details .btn-close span{
	background:url(../images/btn-close.gif) 100% -26px no-repeat;
}
.details .description .next{
	margin:0 21px 0 0;
}




/* vscrollable */
.projects .vscrollable,
.article .vscrollable{
	height:437px;
	width:905px;
}
.projects .vscrollable .scroll-content,
.article .vscrollable .scroll-content{
	width:905px !important;
}
.projects .vscrollable .vscroll-bar,
.article .vscrollable .vscroll-bar{
	width:3px !important;
	top:5px !important;
}
.projects .vscrollable .vscroll-line,
.article .vscrollable .vscroll-line{
	background:#8a8a8a;
	width:3px;
	height:100%;
	right:0 !important;
	top:0 !important;
}
.projects .vscrollable .vscroll-slider,
.article .vscrollable .vscroll-slider{
	background:#e20939;
	width:3px;
	height:86px;
	cursor:pointer;
}
.projects .vscrollable .vscroll-up,
.projects .vscrollable .vscroll-down,
.article .vscrollable .vscroll-up,
.article .vscrollable .vscroll-down{
	height:0 !important;
}
.projects ul{
	padding:5px 0 0;
	margin:0;
	list-style:none;
}
.projects ul li{
	display:inline-block;
	vertical-align:top;
	background:url(../images/bg-footernav.gif) 0 100% repeat-x;
	margin:0 18px 10px 0;
	min-height:201px;
}
.projects ul .img-holder{
	position:relative;
	margin:0 0 5px;
}


.projects ul .img-holder a{
	display:block;
}
.projects ul .img-holder img{
	vertical-align:top;
	
}
.projects ul .current{
	position:absolute;
	top:-5px;
	right:-5px;
}
.projects ul .title{
	display:block;
	color:#939598;
	line-height:13px;
	font-weight:bold;
	margin:0 0 0 6px;
	width:160px;
}
.projects ul .title span{
	display:block;
	cursor:pointer;
	text-transform:uppercase;
}
/* footer */
#footer{
	padding:2px 0px 0px 0px;
    margin-top:30px;
	height:auto;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px dashed #464646;
	border-top:1px dashed #464646;
}

#footer:after{
	content:'';
	display:block;
	clear:both;
}
/* footer-nav */
.footer-nav ul{

	padding:2px 0px 0px 0px;
	margin:0 0 0px;
	list-style:none;
    height: 32px;
    width: auto;
	border-top:1px dashed black;
	border-bottom:1px dashed black;

	
	
	
	font:bold 13px/15px Arial, Helvetica, sans-serif;
	

}
.footer-nav:after{
	content:'';
	display:block;
	clear:both;
}
.footer-nav li{
	float:left;
	height:32px;
	width:;
	background-color:;
    background-attachment: scroll;
   

	/*padding:2px 0;*/
}
.footer-nav a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	height:32px;
	
}

.footer-nav li a:hover,
#footer .footer-nav .active a{
	background-position:0% 0%;
}
.footer-nav .text-group a{
	background:url(../images/text-group.jpg) no-repeat;
	background-position:0% 100%;
	width:125px;
}
.footer-nav .text-constructions a{
	background:url(../images/text-constructions.jpg) no-repeat;
	background-position:0% 100%;
	width:211px;
}
.footer-nav .text-singapore a{
	background:url(../images/text-singapore.jpg) no-repeat;
	background-position:0% 100%;
	width:108px;
}
.footer-nav .text-drafting a{
	background:url(../images/text-drafting.jpg) no-repeat;
	background-position:0% 100%;
	width:204px;
}
.footer-nav .text-hire a{
	background:url(../images/text-hire.jpg) no-repeat;
	background-position:0% 100%;
	width:108px;
}
.footer-nav .text-development a{
	background:url(../images/text-development.jpg) no-repeat;
	background-position:0% 100%;
	width:214px;
}
/* copy */
.copy, .copy-footer-menuCMSListMenuUL{
	float:left;
	padding:0 16px 0 0;
	margin:10px 0px 0px 0px;
	list-style:none;
	font-size:10px;
	line-height:12px;
	color:#aaa;
	letter-spacing:-1px;
}
.copy li, .copy-footer-menuCMSListMenuUL li{
	display:inline;
	margin:0 0 0 19px;
}
.copy li a, .copy-footer-menuCMSListMenuUL li a{
	color:#aaa;
	text-transform:uppercase;
}


/*# COLORBOX #*/

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(/images/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/images/colorbox/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/images/colorbox/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/images/colorbox/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/images/colorbox/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/images/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/images/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/images/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/images/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/images/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/images/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/images/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/images/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/images/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(/images/colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(/images/colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(/images/colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(/images/colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(/images/colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(/images/colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(/images/colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(/images/colorbox/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}



#intro-wrapper
{
	width:auto;
	height:545px;
	margin:0 0 0 -10px;
}

.list-item-project
{
	/*float:left;*/
}

.tekla-note
{
	font-size:10px;
}







#table_bk
{
width:auto;
height:auto;
margin-left:auto;
margin-right:auto;


}

#group_table
{


margin-right: auto;
margin-left: auto;
height:auto;
width:auto;
}

#scroll-area
{

height:400px;
width:auto;
position:relative;
overflow-x:hidden;
overflow-y: visible;
border:1px solid #d8d8d8 ;



}



.g_links a{text-decoration:none; color:#ee3a43;}

.g_links
{

padding-right:-2px;
float:left;
margin-left:10%;

}

#new_btn
{
margin-top:5px;



}

.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0px 0px 0px 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
}


.input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 4px 4px 4px 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
}



.icon-warning-sign-red
{
background: url("../images/icon-warning-sign-red.png"); 
width:16px;
height:17px;

}


.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #bb0d0d;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #bb0d0d;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #bb0d0d;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #bb0d0d;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #bb0d0d;
  border-width: 0 5px 5px;
}



input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(81, 78, 78 ,0.5);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(81, 78, 78 ,0.5) inset, 0px 0px 8px rgba(81, 78, 78 ,0.5);
}


#second_serach
{
margin-right:18px;
    float:left;
    
}


.form-horizontal .control-group {
  margin-bottom: 0px;
  margin-left:-65px;
  *zoom: 1;
}




legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  
}



#form_head
{

font-size:27px;
	line-height:32px;
	color:#939598;
    margin-left:opx;
    padding-top:10px;
  
    

}






/*alert success*/
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}



/* alert danger*/
.validation-summary-errors,
.validation-summary-errors{
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
    padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #eed3d7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.validation-summary-errors h4,
.validation-summary-errors h4 {
  color: #b94a48;
}


.login_bk
{
	
	vertical-align:top;
	background-color: #F2F2F2;
	min-height:540px;
	width:auto;
}

/*Link styles*/

.link-btn{
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
	background:icon-circle-arrow-left;
	
}

.link-btn:hover,
.link-btn:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.link-btn[disabled]:hover,
.link-btn[disabled]:focus {
  color: #333333;
  text-decoration: none;
}


.link-btn
{
margin-left:5px;

}


#detail-handler
{


height:auto;
width:auto;


}


#detail-handler :hover,
#detail-handler :focus
{

background-color: #f5f5f5;
display:block;



}


dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

.dl-horizontal {
  *zoom: 1;
  
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}


#handle
{

height:20px;

}

.input-area
{
background:url(../images/Form_Bak.jpg) repeat-y;
width:auto;




}

#new
{
border-bottom:1px dashed black;
}


.link_bar
{
margin-right:20px;
text-align:right;
width:auto;
height:20px;



}




 
 .accordion:hover .text {
     visibility:visible;
 }




.field_dwn {
    height: 400px;
 margin-top: 70px;

    vertical-align: middle;
    
    
}





.login_cont
{
    margin-top: 60px;
    height: 300px;
    width: auto;
      border-right:1px dashed #aaaaaa;
    
}


.login_imgbk {
    height:400px;
    background:url(../images/Login_bk.png) no-repeat; 
    margin-top: 90px;
  
   
    
    
}






/*button actions*/
.btn-primary {

  background-color: #464646;
  *background-color: #464646;
  background-image: -moz-linear-gradient(top, #333333, #464646);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#464646));
  background-image: -webkit-linear-gradient(top, #5a5a5a, #464646);
  background-image: -o-linear-gradient(top, #5a5a5a, #464646);
  background-image: linear-gradient(to bottom, #5a5a5a, #464646);
  border-color: #464646 #464646 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

}


/*the fixed heading for tables*/
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #464646;
  *background-color: #464646;
}
#button-primery {
     background-color: #464646;
  *background-color: #464646;
  background-image: -moz-linear-gradient(top, #333333, #464646);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#464646));
  background-image: -webkit-linear-gradient(top, #5a5a5a, #464646);
  background-image: -o-linear-gradient(top, #5a5a5a, #464646);
  background-image: linear-gradient(to bottom, #5a5a5a, #464646);
  border-color: #464646 #464646 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #464646;
  *background-color: #464646;
}

/*the fixed heading for tables*/

#fixed-heading
{
margin-top:-30px;
position:static;
border:1px solid #e2e1e1;
height:2px;


}







/*the vertical scroll bar for home page*/



/*the form content back container*/

.content-bk {
    margin-top:10px;
    padding-bottom:30px;
    margin-left: 25px;
    margin-right: 25px;   
    
    
    
}




/**********************************/
.corrosel_option{
width:auto ;
height:50px;
visibility: hidden;
background-color:#f6f6f6;
padding-top:15px;
	top: -65px;
	position: relative;
	z-index: 99999;
    opacity: 0.9;	
}

.corrosel_option span   
{
    
	display: block;
    width: 42px;
    height: 40px;
    
    float:left;
    margin-bottom:10px;
    margin-left:25px;
    padding-left:-20px;
}


.corrosel_option span.edt a{
    display: block;
    width: 42px;
    height: 40px;
   cursor: pointer;
}

.corrosel_option span.searchme a{
    display: block;
    width: 42px;
    height: 40px;
   cursor: pointer;
}




.corrosel_option span.dlt a{
    display: block;
    width: 42px;
    height: 40px;
   cursor: pointer;
}



.corrosel_option span.detail a{
    display: block;
    width: 42px;
    height: 40px;
   cursor: pointer;
}


.searchme {
background: url(../images/View_Details32b.png) no-repeat;
}

.edt {
background: url(../images/edit-icon32-a.png) no-repeat;
}
.edit_icon{


    background-image: url(../images/home_icons/edit01.jpg);
    background-repeat: no-repeat;
     -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
    
}
.edit_icon:hover {
    background-image: url(../images/home_icons/edit02.jpg);
    background-repeat: no-repeat;
    
}
.more_info {
   background-image: url(../images/home_icons/more01.jpg);
    background-repeat: no-repeat;
   
    
}
.more_info:hover {
    background-image: url(../images/home_icons/more02.jpg);
    background-repeat: no-repeat;
    
    
}
.docket {
background: url(../images/docket.png) no-repeat;
}

.draw {
background: url(../images/drawing_reg.png) no-repeat;
}

.master {
background-image: url(../images/home_icons/goto01.jpg);
    background-repeat: no-repeat;
   
}
.master:hover {
    
   background-image: url(../images/home_icons/goto02.jpg);
    background-repeat: no-repeat;
    transition: opacity 0.5s ease 0s, left 0.8s linear 0s;
    
}

.dlt {
background: url(../images/delete-32.png) no-repeat;
}


.detail {
background: url(../images/View_Details-32.png) no-repeat;
}

.image_container {

    width:267px;
    height:540px;    
   background: url(../images/New-Pro.jpg) no-repeat; 
    border:1px dashed #5a5a5a;    
    
}


.customexpand
{
cursor:pointer;
width: 35px;
    height: 120%;
background: transparent url("../images/1378210988_bullet_toggle_plus.png") no-repeat 0 center;
}

.customcollapse
{
cursor:pointer;
width: 35px;
height: 120%;
background: transparent url("../images/1378210994_bullet_toggle_minus.png") no-repeat 0 center;
}




@media (max-width: 980px) {
    .login_cont
{
    margin-top: 60px;
    height: 300px;
    width: auto;
    border-right:0px dashed #aaaaaa;
    
}

}  


.vertion {
    margin-top: 9px;
    margin-right: 20px;
    font-size:11px;
    color:#8a8a8a;
    
    
    
}
.tagging_closed {

    position: absolute;
   
    z-index: 1000;
    height: 100px;
    width: 100px;
    right: 0px;
    
}


.Uploader {

    height: auto;
    width: auto;
}


.Contaier-upload {

    height: auto;
    width: auto;
    
}

.headings {

    height: 25px;
    width: auto;
    padding: 1px 9px;
    
    
}

.head_upload {

    height: 40px;
    background-color: #b94a48;
    width: auto;
    color: white;
    font-family: Calibri;
    margin: 0;
    
    
}

.Buton_area {
    padding: 8px 8px;
    width: auto;
    height: auto;
}

.upload_file_foooter_list {
   
    width: auto;
    height: auto;
}


.table_head {
    background: #DFDFDF;
    padding: 8px 8px;
    color: #42454A;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #CDCDCD;
    height: auto;
    width: auto;
    text-align: left;
    margin: 0;
   
    
    
}

#uploadfilelist {

    margin-top: -20px;

}

.content_area {
    width: auto;
    height: 300px;
    background: #F5F5F5;
    overflow-y: auto;
    display: block;

    
}

.upload_filelist_footer {
    background-color: #DFDFDF;
    border-top: 1px solid #FFF;
    height: 40px;
    line-height: 20px;
    vertical-align: middle;
    margin-top: -20px;
}



.mega {
    height: 100px;
    margin: 10px;
    overflow: auto;
    background: #eee;
    position: relative;
    
}

.status_details_bk .table td {

    width: auto;
    height: auto;
    border-top: none;
  
    
    
}

.status_details_bk {
    
    width: auto;
    height:auto;
    border:0px solid #d8d8d8 ;
    margin-top: -30px;
    
     
    
}
/* Change */
#breadcrumb {

    margin-top: 5px;
    display: inline-block;
}





	/* ------------------------------------------- */
	
	
	/*-----------------------------------*/
	
	.select_all {
	  
	    padding-bottom: 10px;
	    line-height: 20px;
	}
	#chkAllSelect {
	    background-color: red;
	    font-size:30px!important;
	}
	.select_all span{

	    vertical-align: middle;
	    margin-top: 5px;
	}
	.mass_update {
	    position: relative;
	    margin-left: 940px;
	    margin-bottom: -20px;
	    width: 120px;
	    display: block;
	    text-align: center;
	    height:30px;
	    line-height: 20px;
	    background-color: #464646;
  *background-color: #464646;
  background-image: -moz-linear-gradient(top, #333333, #464646);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), to(#464646));
  background-image: -webkit-linear-gradient(top, #5a5a5a, #464646);
  background-image: -o-linear-gradient(top, #5a5a5a, #464646);
  background-image: linear-gradient(to bottom, #5a5a5a, #464646);
  border-color: #464646 #464646 #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	    color: #fff;
	    -moz-border-radius: 5px;
border-radius: 5px;
	    
	}
	.mass_update a:link {
	    color: #fff;
	    text-decoration: none;
	    display: block;
	    line-height: 30px;
	    
	}
	.mass_update :hover {
	    
	    
	    color: black;
	    text-underline: none;
	    text-decoration: none;
	}
	.mass_update a{

	    font-size: 14px;
	    height: 30px;
	    
	   
	    
	}
	#makeMeScrollable {

	    width: 1100px;
	    height: 550px;
	    
	    position: relative;
	}
	
	#DivNewMarkStatusInstance {
	    
	    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	}
	.submit_button {
	    height: 30px;
	    width: 150px;
	    background: #f2f9fe; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f9fe 0%,#d6f0fd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f9fe 0%,#d6f0fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 ); /* IE6-9 */

	}
	
	             



.back-link {
    width: 120px;
    height: 22px;
    text-decoration: none;
    text-underline: none;
    background-color: #A5A5A5;
    display: block;
    line-height: 25px;
    margin-left: 23px;
    background-image: url(../images/home_icons/left_arrow.png);
    background-repeat: no-repeat;
    background-position: left;
    border: solid 1px gray;
}
.back-link:hover 
{
    text-underline: none !important;
    text-decoration: none !important;
     transition-property : background-color; 
  transition-duration : 0.5s; 
    background-color: #C2C2C2;
    color: #636363 !important;
    
}

ul
{
   list-style:none;
   margin:0px;
   padding:0px; 
    }
#breadcrumbs-two{
  overflow: hidden;
  width: 100%;
    margin-left: -18px;
}

#breadcrumbs-two li{
  float: left;
  
  margin: 0 .5em 0 1em;
}


#breadcrumbs-two a{
  background: #ddd;
    margin-left: 17px;
  padding: .2em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#breadcrumbs-two a:hover{
  background: #f9aeb6;
}
#breadcrumbs-two a:before:first-child{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs-two a:hover::before{
  border-color: #f9aeb6 #f9aeb6 #f9aeb6 transparent;
}

#breadcrumbs-two a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumbs-two a:hover::after{
  border-left-color: #f9aeb6;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before{
  content: normal;
}

#makeMeScrollable
{
width:1175px;
height:550px;
 position: relative;   
 background-color:#ECEbEb;

}
