@using AlfasiWeb.Helpers
@model Dinota.Domain.ReferenceData.ReferenceData

@* This partial view defines form fields that will appear when creating and editing entities *@
<div class="row-fluid">
    <div class="span5">
        <div class="control-group">
            @Html.Custom().LabelFor(model => model.Description)
            <div class="controls">
                @Html.Custom().TextBoxFor(model => model.Description)
                <span class="help-inline">@Html.ValidationMessageFor(model => model.Description)</span>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
