@model DateTime?
@{
    var htmlAttributes = new Dictionary<string, Object> { { "style", "width:50%;margin-top:0px" }, { "readonly", "true" }, { "data_date_format", "dd/MM/yyyy" } };
    var id = (string)ViewData["id"];
}
<div class="input-prepend input-append ">
    <span class="date">
        @Html.TextBox(string.Empty, (Model.HasValue ? Model.Value.ToString("dd/MM/yyyy") : string.Empty), htmlAttributes)
        <span class="add-on"><i class="icon-th"></i></span></span><span class="add-on" style="margin-left:-2px" title="clear" onclick="javascript:ClearDate('@id');">
            <i class="icon-remove-circle"></i></span>
</div>
