@using AlfasiWeb
@using AlfasiWeb.Helpers
@using Dinota.Security
@{
    var login = (Dinota.Security.Login.Login)ViewData[ViewDataKeys.Login];
}
<div id="data_area">
    @{
        var rolePermission = ViewData.ContainsKey(ViewDataKeys.Permission)
             ? (RolePermission)ViewData[ViewDataKeys.Permission]
             : new RolePermission(false);

        var groups = (IEnumerable<Dinota.Security.Group.Group>)ViewData[ViewDataKeys.List];
        Html.Custom().Grid(groups)
           .Columns(column =>
           {
               column.For(group => group.Name).Attributes(a => new Dictionary<string, object> { { "style", "width: 2em" } });
               column.For(group => Html.Partial("_GroupActions", group.Id)).Encode(false).Visible(rolePermission.CanEdit);
           }).Render();
    }
</div>