@model AlfasiWeb.Models.GrantRoleModel
<div id="row-@Model.FunctionAreaId">
    <select name="role-@Model.FunctionAreaId" id="role-@Model.FunctionAreaId" onchange="updateRole('@Model.FunctionAreaId', '@Model.Group.Id');" class="DropDownListFor">
    @if (!Model.HasPermission())
    {
        <option value="" selected>-</option>
    }
    else
    { 
        <option value="">-</option>
    }
        
    @if (Model.HasPermission() && !Model.HasWritePermission())
    {
        <option value="1" selected>Read</option>
    }
    else
    { 
        <option value="1">Read</option>
    }

    @if (Model.HasWritePermission())
    {
        <option value="2" selected>Write</option>
    }
    else
    { 
        <option value="2">Write</option>
    }

    </select>
    <div id="msg-@Model.FunctionAreaId"></div>
</div>