@using AlfasiWeb.Helpers
@model Dinota.Security.Group.Group
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="group_table" class="login_bk">
                        <div class="content-bk">
            <h3 id="form_head">
                Edit Group</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <br />
        @Html.PartialCreate("_CreateOrEdit", Model)
        <div class="control-group">
            <label class="control-label" for="button1id">
            </label>
            <div class="controls">
                <button id="button1id" name="button1id" class="btn btn-primary" type="submit" value="Save">
                    Save</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "link-btn" })
            </div>
        </div>
    }
</div></div>
