@using MIMS.Helpers
@using Dinota.Domain.Project
@model List<Project>
@{
    ViewBag.Title = "ProfileList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div id="main">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <!--card stats start-->
                <div id="card-stats">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">
                                    <h4 class="card-title">Main Project List</h4>
                                    <div class="row">
                                        <div class="col s12">
                                            <div id="page-length-option_wrapper" class="dataTables_wrapper">


                                                <table id="page-length-option" class="display dataTable dtr-inline" role="grid" aria-describedby="page-length-option_info" style="width: 985px;">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0" aria-controls="page-length-option" rowspan="1" colspan="1" style="width: 90px;" aria-label="Name: activate to sort column ascending">Project Name</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (Project pro in Model)
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td class="" tabindex="0">@pro.Type</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th class="sorting" tabindex="0" aria-controls="page-length-option" rowspan="1" colspan="1" style="width: 164px;" aria-label="Name: activate to sort column ascending">Project Name</th>

                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

