@using AlfasiWeb
@using AlfasiWeb.Helpers
@using AlfasiWeb.Models
@model ResetPasswordModel
@{
    TempData.Keep(ViewDataKeys.UserTypeEnum);
    object test = TempData[ViewDataKeys.UserTypeEnum];
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    
@using (Html.BeginForm("DeleteConfirm", "Users", new { id = (int)TempData[ViewDataKeys.UserId] }, FormMethod.Post))
{
    <div>Are you sure you want to delete  @Model.UserName?</div>
    <input type="submit" class="btn" value="Yes"  />
    <input type="button" class="btn" value="No" onclick="CloseDeleteDialog();" />
}
