@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.Supplier
@using Dinota.Domain.Event
@using AlfasiWeb.Models
@model Supplier
@{
    ViewBag.Title = "RoomInfoRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-none">
    <div class="bg-primary border-bottom p-3 d-flex align-items-center">
        <a class="toggle togglew toggle-2" href="#"><span></span></a>
        <h4 class="font-weight-bold m-0 text-white">Edit Supplier</h4>
    </div>
</div>
<div class="container position-relative">
    <div class="py-5 osahan-profile row">

        <div class="col-md-12 mb-3">
            <div class="rounded shadow-sm p-4 bg-white">
                <h5 class="mb-4">Add Room Personnal</h5>
                <div id="edit_profile">
                    <div>
                        @Html.Message()
                        @using (Html.BeginForm("Edit", "Supplier", new { id = Model.UId }, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                        {
                            @Html.Partial("_CreateEdit", Model)
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



