@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_wrapper">
    <div id="header_wrapper" class="header-sm">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <header id="header">
                        <h1>Access Denied</h1>
                    </header>
                </div>
            </div>
        </div>

    </div>

    <div id="content" class="container-fluid">
        <div class="content-body">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-title">Access Denied</h4>
                            <div class="alert alert-error">
                                <strong>Warning!</strong> You do not have sufficient permissions to access this page. Please contact the administrator.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ENDS $content -->

</div>
