@using MIMS
@using MIMS.Helpers
@using Dinota.Security
@using Dinota.Domain.DistrictGramaDivision
@using AlfasiWeb.Models
@model DistrictGramaDivision
@{
    ViewBag.Title = "_CreateEdit";
}
<div class="form-group">
    <label for="nameInput" class="col-sm-4 control-label">District</label>
    <div class="col-sm-8">
        
                @Html.DropDownListFor(model => model.DistrictUId, (IEnumerable<SelectListItem>)ViewData[MIMS.ViewDataKeys.DistrictList], "-- Select District  --", new { @class="form-control select", @style="display: none;", @aria_required="true" })
                @Html.ValidationMessageFor(m => m.DistrictUId, null, new { @class = "help-inline" })

    </div>
</div>
<div class="form-group">
    <label for="emailInput" class="col-sm-4 control-label">Gramaniladari Kottashaya</label>
    <div class="col-sm-8">
           @Html.TextBoxFor(m => m.GramaDivision, new { @placeholder = "Enter Gramaniladari Kottashaya",@data_rule_required="true",@data_rule_email="true", @class="form-control", @aria_required="true" })
                @Html.ValidationMessageFor(m => m.GramaDivision, "")
      
    </div>
</div>
@if (Model.UId == 0)
        {
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
}
else
{
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</div>
}